.editable {
  background-color: var(--light-bg-color);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: 5px;
  overflow: hidden;
  min-width: 360px;
}

.editable > p {
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  transition: 200ms ease-in-out;
  padding: 10px;
}

.editable > p:hover {
  cursor: pointer;
  background-color: var(--dark-bg-color);
  color: var(--light-font-color);
  box-shadow: rgba(0, 0, 0, 0.45) 2.4px 2.4px 3.2px;
  transition: 200ms ease-in-out;
}

.editable > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.editable > form input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.418);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
}

.editable > form input::placeholder {
  color: rgba(128, 128, 128, 0.718);
  text-transform: capitalize;
}

.editable > form input:focus {
  border: 1px solid rgba(128, 128, 128, 1);
}

.editable > form .form_btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.editable > form .form_btn button {
  padding: 5px 10px;
  font-family: inherit;
  background-color: var(--light-bg-color);
  border: 1px solid rgba(128, 128, 128, 0.418);
  color: rgba(128, 128, 128, 0.718);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  transition: 200ms ease-in-out;
}

.editable > form .form_btn button:hover {
  cursor: pointer;
  background-color: var(--dark-bg-color);
  color: var(--light-font-color);
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: 200ms ease-in-out;
}
