.recent-task_button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.recent-task_button-container > button {
  background-color: var(--light-bg-color);
  color: var(--dark-font-color);
  padding: 10px;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 1rem;
  transition: 100ms ease;
  border: 1px solid transparent;
}

.recent-task_button-container > button:hover {
  cursor: pointer;
  transition: 100ms ease;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.recent-task_inner-container {
  display: grid;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
}

.recent-task_inner-container > .single-task,
.recent-task_inner-container > .grid-view {
  background-color: var(--light-bg-color);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.single-task_top,
.gird-view-top {
  text-transform: capitalize;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  padding: 10px;
}

.single-task_top > button {
  margin-left: auto;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-task_top > button:hover {
  cursor: pointer;
}

.single-task_bottom,
.gird-view-bottom {
  padding: 10px;
}

.single-task_bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  font-weight: 500;
  font-size: 14px;
}

.single-task_bottom > li::first-letter {
  text-transform: capitalize;
}

.single-task_bottom > a {
  padding: 5px;
  background-color: var(--light-bg-color);
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.single-task_bottom > a:hover {
  cursor: pointer;
  transition: 200ms ease-in-out;
  background-color: var(--dark-bg-color);
  color: var(--light-font-color);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.gird-view-bottom {
  display: flex;
  gap: 5px;
  align-items: center;
}

.gird-view-bottom > .left {
  width: 60%;
}

.gird-view-bottom > .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
}

.gird-view-bottom > .right > a {
  background-color: var(--light-bg-color);
  text-transform: none;
}

.no-data-section {
  min-height: 315px;
  background-color: var(--light-bg-color);
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.no-data-section > h4 {
  font-size: 1.5rem;
}

@media screen and (max-width: 1080px) {
  .gird-view-bottom > .right {
    width: unset;
  }
}

@media screen and (max-width: 850px) {
  .recent-task_button-container,
  .recent-task_inner-container {
    margin-top: 15px;
  }

  .gird-view-bottom > .right {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .single-task_top,
  .gird-view-top {
    font-size: 1.25rem;
  }
  .recent-task_button-container > button {
    display: none;
  }

  .recent-task_inner-container {
    display: block;
  }

  .recent-task_button-container {
    margin: unset;
  }

  .recent-task_inner-container > .single-task {
    display: none;
  }

  .recent-task_inner-container > .grid-view {
    margin-bottom: 15px;
  }

  .gird-view-bottom > .right {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .gird-view-bottom {
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}
