.card {
  background-color: var(--light-bg-color);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_top {
  display: flex;
  align-items: center;
}

.card_top > h4 {
  font-size: 16px;
}

.card_top > svg {
  font-size: 16px;
  margin-left: auto;
}

.card_top > svg:hover {
  cursor: pointer;
}

.card_middle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card_bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_bottom > span {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  color: gray;
}

.card_bottom > span svg {
  font-size: 14px;
}

.card > button {
  padding: 5px;
  font-family: inherit;
  background-color: var(--light-bg-color);
  border: 1px solid rgba(128, 128, 128, 0.418);
  color: rgba(128, 128, 128, 0.718);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  transition: 200ms ease-in-out;
}

.card > button:hover {
  cursor: pointer;
  background-color: var(--dark-bg-color);
  color: var(--light-font-color);
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: 200ms ease-in-out;
}
