.board_outer-container {
  width: 100%;
  scrollbar-width: 8px;
  padding: 20px 0 5px 10px;
}

.board_inner-container {
  min-width: fit-content;
  height: 100%;
  padding-right: 5px;
  display: flex;
  gap: 20px;
}
