.budget_top {
  margin-block: 1.25rem;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.budget_top > div {
  flex: 1;
  height: 320px;
  background-color: var(--light-bg-color);
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
}
