.budget_top {
  margin-block: 1.25rem;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.budget_top > div {
  flex: 1;
  height: 420px;
  background-color: var(--light-bg-color);
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
}

.budget_bottom {
  background-color: var(--light-bg-color);
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
}

.donut_chart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.donut_chart > .donut_chart-info_container {
  width: 280px;
  border-radius: 5px;
  overflow: hidden;
}

.donut_chart > .donut_chart-info_container > p {
  background-color: var(--dark-bg-color);
  border-radius: 5px;
  color: var(--light-font-color);
  font-size: 1.25rem;
  font-weight: 700;
  animation: fade 1500ms ease forwards 1;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.donut_chart > .donut_chart-info_container > .inner > span {
  border-radius: 5px;
  background-color: var(--light-bg-color);
  box-shadow: rgb(0 0 0 / 15%) 1.4px 1.4px 3.2px;
  font-size: 1rem;
  font-weight: 700;
  animation: fade 1500ms ease forwards 1;
  padding: 10px 20px;
}

.donut_chart > .donut_chart-info_container > p::first-letter {
  text-transform: capitalize;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.donut_chart > .donut_chart-info_container > .inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: capitalize;
  font-weight: 700;
  height: 280px;
  overflow-y: auto;
  padding: 10px;
  background-color: rgba(202, 202, 202, 0.247);
  box-shadow: rgb(0 0 0 / 15%) 1.4px 1.4px 3.2px;
}

.budget_bottom > span {
  display: block;
  text-align: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 10px;
}

.budget_bottom > .bugdet_transaction_smallnote {
  font-size: 13px;
  color: gray;
  font-weight: 400;
  margin-bottom: 20px;
}

.transaction_list-heading_container {
  max-width: 730px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--dark-bg-color);
  border-radius: 5px;
  color: var(--light-font-color);
  font-size: 1.25rem;
  font-weight: 700;
  animation: fade 1500ms ease forwards 1;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
}

.budget_bottom-inner {
  max-width: 730px;
  padding: 10px;
  margin: 10px auto;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 200px;
  overflow-y: auto;
  background-color: rgba(202, 202, 202, 0.247);
  box-shadow: rgb(0 0 0 / 15%) 1.4px 1.4px 3.2px;
}
