.top-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-section > .top-section_left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top-section > .top-section_left h1 {
  font-size: 2.5vw;
}

.top-section > .top-section_left span {
  font-size: 1.5vw;
}

.top-section > .top-section_right {
  flex: 2;
}
