/* root */
:root {
  --light-bg-color: #ffffff;
  --dark-bg-color: #000000;
  --dark-font-color: #000000;
  --light-font-color: #ffffff;
  --body-bg-color: #ececec;
}
/* root */

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--dark-font-color);
}

li {
  list-style: none;
}
/* reset */

/* main body style */

body {
  color: var(--dark-font-color);
}

.main-container {
  display: flex;
}

header {
  height: 100vh;
  background: var(--light-bg-color);
  position: sticky;
  top: 0;
  padding: 20px 0 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

nav > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav > ul > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

nav > ul > li:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-right: 5px solid var(--dark-font-color);
}

nav > ul > li > a {
  padding: 10px;
  color: var(--dark-font-color);
  background: var(--light-bg-color);
  border-radius: 5px 0 0 5px;
  font-weight: 500;
  font-size: 1.25vw;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

nav > ul > li > a svg {
  font-size: 1.25vw;
}

main {
  width: 100%;
  background-color: var(--body-bg-color);
  min-height: 100vh;
  overflow-x: auto;
}

.page-container {
  padding: 20px;
}

.active {
  color: var(--light-bg-color);
  background-color: var(--dark-font-color);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: 100ms ease;
  border: transparent;
}

header > button {
  position: absolute;
  bottom: 20px;
  font-family: inherit;
  background: transparent;
  color: var(--dark-font-color);
  padding: 10px;
  border: 1px solid;
  transition: 100ms ease;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > button svg {
  font-size: 1.25vw;
}

header > button:hover {
  cursor: pointer;
  color: var(--light-bg-color);
  background-color: var(--dark-font-color);
  transition: 100ms ease;
}
